.popup__title {
  font-family: 'Inter', Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: hsl(0, 0%, 0%);
  margin: 0;
  padding: 42px 36px 48px;
  align-self: start;
}

@media screen and (max-width: 767px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    padding: 44px 22px 75px;
    width: max(calc(100% * 358/430), 238px);
  }
}