.popup__input-error {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
    margin: 0;
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
    visibility: hidden;
}